<%- include partials/head.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="main-container">
    <div class="jumbotron ">
      <h1 class="display-4"><%= title %> page</h1>
    </div>
    <p>
      <p style="font-size: 30px;"><b>Welcome!</b></p>
      You just found my website! This place serves as a type of "information page" for anyone 
      that might have interest either on myself, my projects, or services. To navigate, simply
      click the navigation bar localized on top of the screen.
    </p>
  </main>
  
<%- include partials/footer.ejs %>  
<%- include partials/script_declarations.ejs %>
  




