<%- include partials/head.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="main-container">

    <!-- Jumbotron -->
    <div class="jumbotron ">
      <h1 class="display-4"><%= title %> page</h1>
    </div>

    <!-- Login form -->
    <form class="flex-container" method="POST" style="flex-direction: column; align-items: center;">

      <!-- Required information -->
      <div class="flex-container flex-item user-input-sections" style="flex-direction: column;">
        <label for="username">Username:</label>
        <input class="form-control" type="text" name="username" required>
        <label for="password">Passsword:</label>
        <input class="form-control" type="password" name="password" required>
      </div>

      <!-- Login button -->
      <div class="flex-item">
        <input class="btn btn-primary" type="submit" value="Login">
      </div>
    </form>

    <!-- Message area -->
    <% if(messages.length > 0) {%>
      <div class="alert alert-danger">
          <%= messages %>
      </div>
    <% } %>
  </main>
  
<%- include partials/footer.ejs %>  
<%- include partials/script_declarations.ejs %>