<%- include partials/head.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Main -->
  <main class="main-container">

    <!-- Jumbotron -->
    <div class="jumbotron ">
      <h1 class="display-4"><%= title %> page</h1>
    </div>

    <!-- Content -->
    <div class="flex-container">

      <!-- Icon -->
      <i class="fas fa-briefcase fa-7x flex-item"></i>

      <!-- Text -->
      <div class="flex-item">
        <p>Here you can find a list of services I'm able to offer:</p>
        <ul>
          <li>Web development;</li>
          <li>Desktop applications.</li>
        </ul>
      </div>
    </div>
  </main>
  
<%- include partials/footer.ejs %>  
<%- include partials/script_declarations.ejs %>
  




